/* Empty. Add your own CSS if you like */
td > img
{
    width: 100px;
    height: 100px;
}

div > img
{
    width: 100px;
    height: 100px;
}
.contenido-inicio,  .contenido-inicio>p {
    text-align: justify;
}
.contenido-inicio>h2 {
    text-align: left;
}
