<ion-view view-title="Account">
  <ion-content>
  <p>
  	<span>Autor: </span>Lautaro Riveiro
  	<span>Curso: </span>4º A - 2016
  </p>
    <ion-list>
    <ion-toggle  ng-model="settings.enableFriends">
        Enable Friends
    </ion-toggle>
    <ion-item>
    	<button class="button icon ion-android-globe"></button>
    	<span>Página personal</span>
    	<p>http://lautaroriveiro.esy.es/</p>
	</ion-item>
	<ion-item>
    	<button class="button icon ion-social-github"></button>
    	<span>GitHub</span>
	</ion-item>
	<ion-item>
    	<button class="button icon ion-android-mail"></button>
    	<span>E-mail</span>
	</ion-item>
    </ion-list>
  </ion-content>
</ion-view>
