<ion-view view-title="Dashboard">
  <ion-content class="padding">
    <div class="contenido-inicio">
        <h2>AO Piano</h2>
        <p>
            Para comenzar a grabar, hacé click en <strong>GRABAR</strong>. Cuando finalices, hacé click en <strong>PARAR</strong>. Para reproducir, hacé click en <strong>PLAY</strong>.
        </p>
        <p>
           Si te gustó, podés guardar tu melodía haciendo click en <strong>GUARDAR</strong>. Si no, podés borrarla y empezar una nueva!.
        </p>
    </div>
    <table style="width: 80%; margin: auto;">
        <tr>
            <td ng-click="Tocar('lobo')"><img src="img/lobo.png" alt=""></td>
            <td ng-click="Tocar('manzana')"><img src="img/manzana.BMP" alt=""></td>
            <td ng-click="Tocar('inmo')"><img src="img/inmo.png" alt=""></td>
        </tr>
        <tr>
            <td ng-click="Tocar('muerte')"><img src="img/muerte.png" alt=""></td>
            <td ng-click="Tocar('murcielago')"><img src="img/murcielago.png" alt=""></td>
            <td ng-click="Tocar('pollo')"><img src="img/pollo.png" alt=""></td>
        </tr>
        <tr>
            <td ng-click="Tocar('portal')"><img src="img/portal.png" alt=""></td>
            <td ng-click="Tocar('puerta')"><img src="img/puerta.png" alt=""></td>
            <td ng-click="Tocar('serpiente')"><img src="img/serpiente.png" alt=""></td>
        </tr>
    </table>
    
    <div>{{melodia}}</div>
    
    <button ng-show="grabar" class="button button-block button-assertive" ng-click="Grabar()"> GRABAR </button>
    
    <button ng-show="parar" class="button button-block button-positive" ng-click="Parar()"> PARAR </button>
    
    <button ng-show="reproducir" class="button button-block button-calm" ng-click="Reproducir()"> PLAY </button>
        
    <button ng-show="reproducir" class="button button-block button-royal" ng-click="Borrar()"> BORRAR </button>
    
    <button ng-show="reproducir" class="button button-block button-balanced" ng-click="Guardar()"> GUARDAR </button>
    
    <button class="button button-block button-balanced" ng-click="LeerTxt()"> LEER TXT </button>
    
    <!--- Me "apila" los botones:
    <div class="row" style="width: 30%; margin: auto;">
        <div class="col col-33 col-offset-10" ng-click="Tocar('lobo')"><img src="img/lobo.png" alt=""></div>
        <div class="col col-33 col-offset-10" ng-click="Tocar('manzana')"><img src="img/manzana.BMP" alt=""></div>
        <div class="col col-33 col-offset-10" ng-click="Tocar('inmo')"><img src="img/inmo.png" alt=""></div>
    </div>
    <div class="row" style="width: 30%; margin: auto;">
        <div class="col col-33 col-offset-10" ng-click="Tocar('muerte')"><img src="img/muerte.png" alt=""></div>
        <div class="col col-33 col-offset-10" ng-click="Tocar('murcielago')"><img src="img/murcielago.png" alt=""></div>
        <div class="col col-33 col-offset-10" ng-click="Tocar('pollo')"><img src="img/pollo.png" alt=""></div>
    </div>
    <div class="row" style="width: 30%; margin: auto;">
        <div class="col col-33 col-offset-10" ng-click="Tocar('portal')"><img src="img/portal.png" alt=""></div>
        <div class="col col-33 col-offset-10" ng-click="Tocar('puerta')"><img src="img/puerta.png" alt=""></div>
        <div class="col col-33 col-offset-10" ng-click="Tocar('serpiente')"><img src="img/serpiente.png" alt=""></div>
    </div>
    --->

  </ion-content>
</ion-view>
