<ion-view view-title="Grabación">
  <ion-content class="padding">
    <div class="contenido-inicio">
        <h2 style="text-align: center;"><span style="color:red;">A</span><span style="color:blue;">O</span> Piano</h2>
        <p>
            Para comenzar a grabar, hacé click en <strong>GRABAR</strong> <i class="ion-record"></i>. Cuando finalices, hacé click en <strong>PARAR <i class="ion-stop"></i></strong>. Para reproducirla, hacé click en <strong>PLAY <i class="ion-play"></i></strong>.
        </p>
        <p>
           Si te gustó, podés guardar tu melodía haciendo click en <strong>GUARDAR <i class="ion-checkmark"></i></strong>. Si no, podés borrarla apretando <strong>BORRAR <i class="ion-trash-b"></i></strong> y empezar una nueva!.
        </p>
        <br>
    </div>
    <table style="width: 80%; margin: auto;">
        <tr>
            <td ng-click="Tocar('lobo')"><img src="img/lobo.png" alt=""></td>
            <td ng-click="Tocar('manzana')"><img src="img/manzana.BMP" alt=""></td>
            <td ng-click="Tocar('inmo')"><img src="img/inmo.png" alt=""></td>
        </tr>
        <tr>
            <td ng-click="Tocar('muerte')"><img src="img/muerte.png" alt=""></td>
            <td ng-click="Tocar('murcielago')"><img src="img/murcielago.png" alt=""></td>
            <td ng-click="Tocar('pollo')"><img src="img/pollo.png" alt=""></td>
        </tr>
        <tr>
            <td ng-click="Tocar('portal')"><img src="img/portal.png" alt=""></td>
            <td ng-click="Tocar('puerta')"><img src="img/puerta.png" alt=""></td>
            <td ng-click="Tocar('serpiente')"><img src="img/serpiente.png" alt=""></td>
        </tr>
    </table>
    
    <div>{{melodia}}</div>
    
    <!-- <button ng-show="grabar" class="button button-block button-assertive" ng-click="Grabar()"> GRABAR </button>
    
    <button ng-show="parar" class="button button-block button-positive" ng-click="Parar()"> PARAR </button>
    
    <button ng-show="reproducir" class="button button-block button-calm" ng-click="Reproducir()"> PLAY </button>
        
    <button ng-show="reproducir" class="button button-block button-royal" ng-click="Borrar()"> BORRAR </button>
    
    <button ng-show="reproducir" class="button button-block button-balanced" ng-click="Guardar()"> GUARDAR </button>
    
    <button class="button button-block button-balanced" ng-click="LeerTxt()"> LEER TXT </button> -->
    <div class="botonera">
        <table style="margin-left:auto;margin-right:auto;width: 85%;">
            <tr>
                <td>
                    <button ng-disabled="!grabar" class="button button-block button-assertive ion-record" ng-click="Grabar()"></button>
                </td>
                <td>
                    <button ng-disabled="!parar" class="button button-block button-positive ion-stop" ng-click="Parar()"></button>
                </td>
                <td>
                    <button ng-disabled="!reproducir" class="button button-block button-balanced ion-play" ng-click="Reproducir()"></button>
                </td>
            </tr>
            <tr>
                <td>
                    <button ng-disabled="!borraryguardar" class="button button-block button-dark ion-trash-b" ng-click="Borrar()"></button>
                </td>
                <td>
                    <button ng-disabled="!borraryguardar" class="button button-block button-calm ion-checkmark" ng-click="Guardar()"></button>
                </td>
                <td>
                    <button class="button button-block button-royal ion-music-note" ng-click="LeerTxt()"></button>
                </td>
            </tr>
        </table>
    </div>
    <!-- Me "apila" los botones:
    <div class="row" style="width: 30%; margin: auto;">
        <div class="col col-33 col-offset-10" ng-click="Tocar('lobo')"><img src="img/lobo.png" alt=""></div>
        <div class="col col-33 col-offset-10" ng-click="Tocar('manzana')"><img src="img/manzana.BMP" alt=""></div>
        <div class="col col-33 col-offset-10" ng-click="Tocar('inmo')"><img src="img/inmo.png" alt=""></div>
    </div>
    <div class="row" style="width: 30%; margin: auto;">
        <div class="col col-33 col-offset-10" ng-click="Tocar('muerte')"><img src="img/muerte.png" alt=""></div>
        <div class="col col-33 col-offset-10" ng-click="Tocar('murcielago')"><img src="img/murcielago.png" alt=""></div>
        <div class="col col-33 col-offset-10" ng-click="Tocar('pollo')"><img src="img/pollo.png" alt=""></div>
    </div>
    <div class="row" style="width: 30%; margin: auto;">
        <div class="col col-33 col-offset-10" ng-click="Tocar('portal')"><img src="img/portal.png" alt=""></div>
        <div class="col col-33 col-offset-10" ng-click="Tocar('puerta')"><img src="img/puerta.png" alt=""></div>
        <div class="col col-33 col-offset-10" ng-click="Tocar('serpiente')"><img src="img/serpiente.png" alt=""></div>
    </div>    -->

  </ion-content>
</ion-view>
