<ion-tabs class="tabs-icon-top tabs-color-active-positive">

  <!-- Grabacion Tab -->
  <ion-tab title="Grabación" icon-off="ion-ios-recording-outline" icon-on="ion-ios-recording" href="#/tab/dash">
    <ion-nav-view name="tab-dash"></ion-nav-view>
  </ion-tab>

  <!-- Melodias Tab -->
  <ion-tab title="Melodías" icon-off="ion-ios-play-outline" icon-on="ion-ios-play" href="#/tab/melodias">
    <ion-nav-view name="tab-melodias"></ion-nav-view>
  </ion-tab>

  <!-- Acerca de mí Tab -->
  <ion-tab title="Acerca de mí" icon-off="ion-ios-information-outline" icon-on="ion-ios-information" href="#/tab/account">
    <ion-nav-view name="tab-account"></ion-nav-view>
  </ion-tab>


</ion-tabs>
